@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", Arial;
}

header {
  background-color: #202e52;
  color: #d9d9d9;
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

footer {
  background-color: #202e52;
  color: #d9d9d9;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  margin-top: 38px;
}

.title {
  font-size: 1.5em;
  color: #202e52;
  font-weight: bold;
}

.info {
  font-size: .9em;
  margin-top: 20px;
}

.inset-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}