@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
  font-family: "Montserrat", Arial;
}

header {
  color:#202e52 ;
  padding: 10px;
}
#title{
  font-family: "Caveat",cursive;
}
footer {
  background-color: #202e52;
  color: #d9d9d9;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  margin-top: 38px;
}

.title {
  color: #202e52;
  font-weight: bold;
}

.inset-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}